
//按鈕hover時可以用的設定
.black-y{
    background-color: #030303;
    color:#FBFF22;
}

//按鈕可以用的設定
.black-w{
    background-color: #000000;
    color:#ffffff;
}
.blackbg{
    color: #FBFF22;
}


.ai-c{
    align-items: center;
}
.ai-e{
    align-items: end;
}


//活動訂購 - 訂單確認狀態 
.ml-1{
    margin-left:-10px;
}
.mr-3{
    margin-right: -10px;
}
//活動訂購 - 訂單確認明細
.bt-black{
    border-top: 3px solid #030303;
}
.red-color{
    color:#C96464;
}


.ml-a{
    margin-left: auto;
}