<!-- 表頭navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container align-items-center">
      <a href="index.html" class="logo">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="logo圖">
        <div class="logoContent">
          <h1 class="ms-3">7TAO</h1>
          <p class="logoName">活動訂票網</p>
        </div>
      </a>
      <form action="" class="search-container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="探索活動" aria-label="Recipient's username" aria-describedby="button-addon2">
          <a href="#" class="btn" type="button" id="button-addon2"><i class="icofont-search-1"></i></a>
        </div>
      </form>

      <button class="navbar-toggler border-dark border-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><i class="icofont-ui-file"></i>REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icofont-ui-user"></i>LOGIN</a>
          </li> 
        </ul>
      </div>
    </div>
</nav>


<!-- Modal 元件 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold ml-a" id="exampleModalLabel">立刻成為7TAO會員</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
        您也可以先報名活動，日後再註冊帳號，<br>
        系統會在認證您的Email後，協助您找回舊的訂單。</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary rounded-0 mb-3" data-bs-dismiss="modal">立即成為會員</button>
      </div>
    </div>
  </div>
</div>