// 大標題 設定
.bigTitle{
    .container{
        margin:  0 auto;
        .titleContent{
            border: 3px solid #000;
            padding: 24px;
            align-items: center;
            h2{
                font-size: 64px;
                line-height: 73.92px;
                font-weight: bold;
                font-family: 'Yeseva One';
            }
            p{
                font-size: 32px;
                line-height: 45.95px;
                font-weight: bold;
                font-family: 'Noto Serif TC';
            }
        }
    }
}

@include iphone{
    .bigTitle{
        .container{
            .titleContent{
                padding: 25px 5px 15px 5px;
                align-items: center;
                h2{
                    font-size: 24px;
                    line-height: 0px;
                    padding: 10px 0;
                    align-self: center;
                }
                p{
                    font-size: 16px;
                    line-height: 0px;
                }
            }
        }
    }
}