<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>活動訂票網 - 首頁</title>
  </head>
  <body>
    <!-- 表頭navbar -->
    <%- include('./layout/header'); -%>

    <!-- event頁面 大標題 EVENT -->
    <section class="bigTitle mb-4">
        <div class="container">
          <div class="titleContent d-flex justify-content-between">
            <h2>EVENT</h2>
            <p>所有活動</p>
          </div>
        </div>
    </section>

    <!-- event頁面 Tags -->
    <section class="eventTags">
        <div class="container">
            <ul class="tag list-unstyled mb-4">
                <li class="tagItem">演出</li>
                <li class="tagItem">音樂</li>
                <li class="tagItem">舞蹈</li>
                <li class="tagItem">戲劇</li>
                <li class="tagItem">音樂會</li>
                <li class="tagItem">課程講座</li>
                <li class="tagItem">社群活動</li>
                <li class="tagItem">展覽</li>
                <li class="tagItem">研討會</li>
                <li class="tagItem">電影</li>
                <li class="tagItem">電音派對</li>
                <li class="tagItem">遊戲競賽</li>
                <li class="tagItem">親子</li>
                <li class="tagItem">藝文活動</li>
                <li class="tagItem">運動</li>
                <li class="tagItem">交通旅遊</li>
                <li class="tagItem">美食</li>
                <li class="tagItem">資訊科技</li>
                <li class="tagItem">聯誼</li>
                <li class="tagItem">戶外</li>
                <li class="tagItem">線上活動</li>
            </ul>
        </div>
    </section>

    <!-- event頁面 活動 -->
    <section class="active mb-4">
        <div class="container">
          <ul class="row row-cols-1 row-cols-lg-3 list-unstyled actives">
            <li class="col activeItem">
              <div class="active-header">
                <h2>19 MAY 2023</h2>
              </div>
              <div class="active-body">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" alt="看電影">
                <div class="active-content">
                  <h3 class="mb-1">邪典電影派對——房間</h3>
                  <p>你有聽說過「大災難家」裡面的主角 
                    Tommy Wiseau 製作的「史上最爛的電影」
                    ——房間嗎？在美國甚至演變成一種邪教、
                    一種派對的形式，在電影播放的對著螢幕
                    丟湯匙都...</p>
                </div>
              </div>
              <div class="active-footer d-flex justify-content-between">
                <div class="clubActive d-flex">
                  <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                    <p>電影</p>
                  </a>
                </div>
                <div class="sell d-flex">
                  <a href="#">
                    <p>開賣中<i class="icofont-double-right"></i></p>
                  </a>
                </div>
              </div>
            </li>
            <li class="col activeItem">
              <div class="active-header">
                <h2>23 MAY 2023</h2>
              </div>
              <div class="active-body">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true" alt="跳舞">
                <div class="active-content">
                  <h3 class="mb-1">怪舞俱樂部</h3>
                  <p>覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總
                    是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的
                    聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                </div>
              </div>
              <div class="active-footer d-flex justify-content-between">
                <div class="clubActive d-flex">
                  <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                    <p>演出</p>
                  </a>
                </div>
                <div class="sell d-flex">
                  <a href="#">
                    <p>開賣中<i class="icofont-double-right"></i></p>
                  </a>
                </div>
              </div>
            </li>
            <li class="col activeItem">
              <div class="active-header">
                <h2>30 MAY 2023</h2>
              </div>
              <div class="active-body">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true" alt="喝酒">
                <div class="active-content">
                  <h3 class="mb-1">哈利波特馬拉松</h3>
                  <p>每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻
                    瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人
                    ？穿好你的法袍、帶上你的法杖...</p>
                </div>
              </div>
              <div class="active-footer d-flex justify-content-between">
                <div class="clubActive d-flex">
                  <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                    <p>研討會</p>
                  </a>
                </div>
                <div class="sell d-flex">
                  <a href="#">
                    <p>開賣中<i class="icofont-double-right"></i></p>
                  </a>
                </div>
              </div>
            </li>
            <li class="col activeItem">
              <div class="active-header">
                <h2>12 June 2023</h2>
              </div>
              <div class="active-body">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true" alt="排球">
                <div class="active-content">
                  <h3 class="mb-1">皮卡丘排球大賽</h3>
                  <p>還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求
                    一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公
                    平的方式進行，是時候該證明自己...</p>
                </div>
              </div>
              <div class="active-footer d-flex justify-content-between">
                <div class="clubActive d-flex">
                  <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                    <p>演出</p>
                  </a>
                </div>
                <div class="sell d-flex">
                  <a href="#">
                    <p>開賣中<i class="icofont-double-right"></i></p>
                  </a>
                </div>
              </div>
            </li>
            <li class="col activeItem">
              <div class="active-header">
                <h2>25 June 2023</h2>
              </div>
              <div class="active-body">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true" alt="乾杯">
                <div class="active-content">
                  <h3 class="mb-1">酒精路跑</h3>
                  <p>身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加
                    酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內
                    各家極具品味的酒吧。
                  </p>
                </div>
              </div>
              <div class="active-footer d-flex justify-content-between">
                <div class="clubActive d-flex">
                  <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                    <p>社群活動</p>
                  </a>
                </div>
                <div class="sell d-flex">
                  <a href="#">
                    <p>開賣中<i class="icofont-double-right"></i></p>
                  </a>
                </div>
              </div>
            </li>
            <li class="col activeItem">
              <div class="active-header">
                <h2>9 July 2023</h2>
              </div>
              <div class="active-body">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true" alt="展覽場">
                <div class="active-content">
                  <h3 class="mb-1">展覽——我的房間</h3>
                  <p>每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過
                    的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能
                    定義自己的特別的東西。</p>
                </div>
              </div>
              <div class="active-footer d-flex justify-content-between">
                <div class="clubActive d-flex">
                  <a href="#">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                    <p>展覽</p>
                  </a>
                </div>
                <div class="sell d-flex">
                  <a href="#">
                    <p>開賣中<i class="icofont-double-right"></i></p>
                  </a>
                </div>
              </div>
            </li>
            <li class="col activeItem">
                <div class="active-header">
                  <h2>19 MAY 2023</h2>
                </div>
                <div class="active-body">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/07.jpg?raw=true" alt="野外音樂">
                  <div class="active-content">
                    <h3 class="mb-1">野營音樂祭</h3>
                    <p>喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森
                        林活動吧！結合四大戶外探索類別、超過 15 項體驗與工
                        作坊、新興音樂人的草地演唱。</p>
                  </div>
                </div>
                <div class="active-footer d-flex justify-content-between">
                  <div class="clubActive d-flex">
                    <a href="#">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                      <p>演出</p>
                    </a>
                  </div>
                  <div class="sell d-flex">
                    <a href="#">
                      <p>開賣中<i class="icofont-double-right"></i></p>
                    </a>
                  </div>
                </div>
            </li>
            <li class="col activeItem">
                <div class="active-header">
                  <h2>19 MAY 2023</h2>
                </div>
                <div class="active-body">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/08.jpg?raw=true" alt="疊疊樂">
                  <div class="active-content">
                    <h3 class="mb-1">疊疊樂大賽</h3>
                    <p>來到七星潭會想到什麼呢？絕對是數也數不清的扁扁
                        石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
                  </div>
                </div>
                <div class="active-footer d-flex justify-content-between">
                  <div class="clubActive d-flex">
                    <a href="#">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                      <p>遊戲競賽</p>
                    </a>
                  </div>
                  <div class="sell d-flex">
                    <a href="#">
                      <p>開賣中<i class="icofont-double-right"></i></p>
                    </a>
                  </div>
                </div>
            </li>
            <li class="col activeItem">
                <div class="active-header">
                  <h2>18 MAY 2023</h2>
                </div>
                <div class="active-body">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true" alt="返老還童">
                  <div class="active-content">
                    <h3 class="mb-1">返老還童-制服聯誼</h3>
                    <p>由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程
                        中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，
                        有趣的互動環節讓你/妳怦然心動！
                    </p>
                  </div>
                </div>
                <div class="active-footer d-flex justify-content-between">
                  <div class="clubActive d-flex">
                    <a href="#">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                      <p>聯誼</p>
                    </a>
                  </div>
                  <div class="sell d-flex">
                    <a href="oldTurnYoung.html">
                      <p>開賣中<i class="icofont-double-right"></i></p>
                    </a>
                  </div>
                </div>
            </li>
            <li class="col activeItem">
                <div class="active-header">
                  <h2>19 MAY 2023</h2>
                </div>
                <div class="active-body">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/10.jpg?raw=true" alt="野炊">
                  <div class="active-content">
                    <h3 class="mb-1">野外求生17天</h3>
                    <p>野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源
                        取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
                    </p>
                  </div>
                </div>
                <div class="active-footer d-flex justify-content-between">
                  <div class="clubActive d-flex">
                    <a href="#">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                      <p>戶外</p>
                    </a>
                  </div>
                  <div class="sell d-flex">
                    <a href="#">
                      <p>開賣中<i class="icofont-double-right"></i></p>
                    </a>
                  </div>
                </div>
            </li>
            <li class="col activeItem">
                <div class="active-header">
                  <h2>19 MAY 2023</h2>
                </div>
                <div class="active-body">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/11.jpg?raw=true" alt="音樂祭">
                  <div class="active-content">
                    <h3 class="mb-1">耳熟能詳音樂祭</h3>
                    <p>對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重
                        磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹
                        下當 KTV 跟著唱，唱不出來服務台報到立馬退費！
                    </p>
                  </div>
                </div>
                <div class="active-footer d-flex justify-content-between">
                  <div class="clubActive d-flex">
                    <a href="#">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                      <p>演出</p>
                    </a>
                  </div>
                  <div class="sell d-flex">
                    <a href="#">
                      <p>開賣中<i class="icofont-double-right"></i></p>
                    </a>
                  </div>
                </div>
            </li>
            <li class="col activeItem">
                <div class="active-header">
                  <h2>19 MAY 2023</h2>
                </div>
                <div class="active-body">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/12.jpg?raw=true" alt="發呆">
                  <div class="active-content">
                    <h3 class="mb-1">野營發呆大賽</h3>
                    <p>你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機
                        會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十
                        萬的綿豆腐床墊一張！
                    </p>
                  </div>
                </div>
                <div class="active-footer d-flex justify-content-between">
                  <div class="clubActive d-flex">
                    <a href="#">
                      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler">
                      <p>遊戲競賽</p>
                    </a>
                  </div>
                  <div class="sell d-flex">
                    <a href="#">
                      <p>開賣中<i class="icofont-double-right"></i></p>
                    </a>
                  </div>
                </div>
            </li>
          </ul>
        </div>
    </section>

    <!-- event頁面  下方頁碼 -->
    <nav aria-label="Page navigation mb-5">
      <ul class="pagination justify-content-center">
        <li class="page-item ">
          <a class="page-link" href="#" aria-label="Previous">
            <i class="icofont-arrow-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <i class="icofont-arrow-right"></i>
          </a>
        </li>
      </ul>
    </nav>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>